#robinTable td {
	width: 20px;
	align-content: center;
	text-align: center;
}
.textBoxDiv{
	#width: 35%;
}
#TextBoxesGroup{
	margin-top: 35px;
	right: 50%;
	text-align: center;
}
#table_Container{
	position: fixed;
	bottom: 30px;
	text-align: center;
}
body {
	background-image: url("androidPback.jpg");
	color: white;
	-webkit-background-size: no-repeat;
  	background-repeat:no-repeat;
	background-attachment: fixed
}
#body {
	text-align: center;
}
#proccess {
	width: 5.5%; // whatever width you want
	height: 10%;
    display: inline-block;
    position: fixed;
    top: 55.8%;
    left: 49%;
    #border: red;
	#border-style: dotted;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;   
	font-size: 300%;
	text-align:center;
}
.rafaga{
	#margin-left: 5%;
}
.A{
	background-color: red;
}
.B{
	background-color: blue;
}
.C{
	background-color: yellow;
}
.D{
	background-color: green;
}
.E{
	background-color: orange;
}
.F{
	background-color: cyan;
}
.G{
	background-color: gold;
}
.H{
	background-color: greenyellow;
}
.I{
	background-color: pink;
}
.J{
	background-color: aqua;
}
.A_Task{
	color: red;
}
.B_Task{
	color: blue;
}
.C_Task{
	color: yellow;
}
.D_Task{
	color: green;
}
.E_Task{
	color: orange;
}
.F_Task{
	color: cyan;
}
.G_Task{
	color: gold;
}
.H_Task{
	color: greenyellow;
}
.I_Task{
	color: pink;
}
.J_Task{
	color: aqua;
}
